.shoe-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    width: 250px;
    height: 300px;
    background-color: #c1d1db;
    border: none;
    margin-top: 100px;
    border-radius: 8px;
    overflow: hidden;
}
.btn{
    background-color: #95A0A7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
    .products-container{
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 10px;
    }
}