.navbar{
    height: 80px;
    background-color:#1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;   
}

.cart{
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 36px;
}

