.App {
  text-align: center;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.card{
    /* width: 300px;
    height: 450px; */
    border: 2px solid #95A0A7;
    border-radius: 8px;
    box-shadow:2px 2px 8px 8px rgba(0, 0, 0, 0.2); 
    margin: 10px;
    padding: 10px;
}